# Ignore node_modules directory
node_modules/

# Ignore Python cache directories
__pycache__/
*.py[cod]

# Ignore environment variable files
.env

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore compiled code
*.class
*.o
*.so

# Ignore coverage reports
coverage/
*.coverage

# Ignore build directories
dist/
build/
backend/metricMapAPI/debug.log
